/* Define the 'Rust' font from rust.ttf in the same folder */
@font-face {
  font-family: 'Rust';
  src: url('Rust.ttf') format('truetype');
}

:root {
  --bg1: #0D0D0D; /* Background color 1 */
  --bg2: #272322; /* Background color 2 */
  --font: #A4A5A7; /* Font color */
  --modulBg: rgba(91, 87, 86, 0.15); /* Transparent background of the cards */
  --h: #D93E30; /* Heading color */
}

body {
  background-color: var(--bg1);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  color: var(--font); /* Font color for the body */
  font-family: 'Rust', Arial, sans-serif; /* Use 'Rust' font, then fallback to Arial and sans-serif */
}

.card {
  display: flex;
  background-color: var(--modulBg);
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 300px; /* Adjust the height as needed */
}

.card .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* Adjust the transparency of the background image */
}

.card .content {
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* Add this CSS rule to arrange the image containers side by side */
.image-banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centres the image containers horizontally */
  align-items: flex-end; /* Placement of the image containers at the bottom of the page */
  margin-right: 10px; /* Here you can adjust the desired distance */
  margin-right: 0;
  display: flex;
  background-color: var(--modulBg);
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: var(--bg1);
  color: var(--font);
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background: var(--h);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
