/* Define the 'Rust' font from rust.ttf in the same folder */
@font-face {
  font-family: 'Rust';
  src: url('Rust.ttf') format('truetype');
  letter-spacing: 1px; /* Adjust the value as needed */
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --bg1: #0D0D0D; /* Background color 1 */
  --bg2: #272322; /* Background color 2 */
  --font: #d7cdc4; /* Font color */
  --modulBg: rgba(15, 14, 14, 1); /* Transparent background of the cards */
  --h: #D93E30; /* Heading color */
}

body {
  background-color: var(--bg1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Horizontale Ausrichtung in der Mitte */
  color: var(--font);
  font-family: 'Roboto', Arial, sans-serif;
  padding-left: 15vmin;
  padding-right: 15vmin;
}

.card {
  width: 220px; /* Ihre gewünschte Breite */
  height: 300px; /* Ihre gewünschte Höhe */
  display: flex;
  background-color: var(--modulBg);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px; /* Abstand nach unten zur nächsten Karte */
}


.card:hover {
  /* transform: scale(1.35) rotateX(15deg) rotateY(15deg);*/
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); /* Add a red glow with some transparency */
  z-index: 1; /* Bring the hovered card above other cards */
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}


.content {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  position: relative;
  z-index: 1;
  text-transform: uppercase; /* Convert text to uppercase */
}

.top-section {
  font-family: 'Rust', Arial, sans-serif; /* Use 'Rust' font for headings */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--h);
}

.bottom-section {
  flex: 2;
  padding: 20px;
  text-align: center;
}

.top-section h2 {
  text-align: center;
  margin: 0;
}


.card-info {
  font-size: 10px; /* Kleiner Schriftgrad */
  color: var(--font); /* Farbe des Texts */
  opacity: 0.5;
}

.top-section .card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
}

.bottom-section .card-info {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}


input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  opacity: 0.7;
}

button {
  background-color: var(--h);
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0.7;
}

button:hover {
  background-color: darken(var(--h), 90%);
}

.card-section {
  text-align: center;
  margin-bottom: 20px; /* Fügt Abstand nach unten zur nächsten Sektion hinzu */
}

.card-section h2 {
  text-align: center;
  margin: 5; /* Setzt die Standardmargines von h2 zurück */
}

hr {
  margin: 10px 0; /* 10px oben und unten */
}
