/* Define the 'Rust' font from rust.ttf in the same folder */
@font-face {
  font-family: 'Rust';
  src: url('Rust.ttf') format('truetype');
}

/* Global styles */
:root {
  --bg1: #0D0D0D; /* Background color 1 */
  --bg2: #272322; /* Background color 2 */
  --font: #A4A5A7; /* Font color */
  --modulBg: rgba(91, 87, 86, 0.15); /* Transparenter Hintergrund der Karten */
  --h: #D93E30; /* Heading color */
  --font-size: 30px; /* Font size */
}

body {
  background-color: var(--bg1);
  color: var(--font);
  font-family: 'Rust', Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--h);
  text-align: center;
  font-family: 'Rust', Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 20px auto;
  background-color: var(--bg2);
  border-radius: 20px;
  overflow: hidden;
  table-layout: fixed;
}

th, td {
  padding: 10x;
  border: 10px solid var(--bg1);
  text-align: center;
  font-family: 'Rust', Arial, sans-serif;
  font-size: var(--font-size);
}

td img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Stil für den Container */
.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Stil für die Eingabefeld-Container */
.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


}

/* Stil für die Bilder */
.input-container img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Stil für das Ergebnis */
#result {
  margin: 20px;
  font-weight: bold;
}

/* Füge diesen CSS-Code in deine styles.css-Datei hinzu */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg2);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 0;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--h);
}

.switch input:checked + .slider:before {
  transform: translateX(20px);
}

.card {
  background-color: var(--modulBg);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}

.card h1 {
  color: var(--h);
  text-align: center;
}

.card .input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.card .switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.card #result {
  margin-top: 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex-basis: 30%; /* Anpassen, je nachdem, wie viel Platz die Elemente einnehmen sollen */
}

/* Dieser Stil gilt nur für Bilder innerhalb von .section */
.section img {
  max-width: 50%; /* Beispiel: Setze die maximale Breite der Bilder */
    height: auto; /* Automatische Höhe, um das Seitenverhältnis zu wahren *
  margin-right: 10px; /* Abstand zwischen den Bildern */
}



/* Dieser Stil gilt für die Bilder am unteren Rand */
.bottom-images {
  display: flex;
  justify-content: center; /* Zentrierung zur Seite */ /* Bilder am unteren Rand ausrichten */
  margin-top: 10px; /* Abstand zum oberen Inhalt */
}

/* Stil für einzelne Bilder innerhalb der .bottom-images Klasse */
.bottom-images img {
  max-width: 100px; /* Beispiel: Setze die maximale Breite der Bilder */
  height: auto; /* Automatische Höhe, um das Seitenverhältnis zu wahren */
  margin: 0 10px; /* Abstand zwischen den Bildern */
}

#backToHomeButton {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: var(--h);
  color: var(--font);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 1; /* Ensure the button is always visible */
  font-family: 'Rust', Arial, sans-serif;
}