/* Define the 'Rust' font from rust.ttf in the same folder */
@font-face {
  font-family: 'Rust';
  src: url('Rust.ttf') format('truetype');
}

/* Global styles */
:root {
  --bg1: #0D0D0D; /* Background color 1 */
  --bg2: #272322; /* Background color 2 */
  --font: #A4A5A7; /* Font color */
  --modulBg: #5B5756; /* Modul background color */
  --h: #D93E30; /* Heading color */
}

body {
  background-color: var(--mainbg);
  color: var(--font);
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriere den gesamten Inhalt horizontal */
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Stellt sicher, dass der Inhalt die volle Höhe der Seite einnimmt */
  
  /* Hinzufügen des Hintergrundbildes */
  background-image: url('/img/diesel_bg.webp');
  background-size: cover; /* Stellt sicher, dass das Bild die gesamte Seite abdeckt */
  background-position: center; /* Zentriert das Bild */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Stellt sicher, dass das Bild beim Scrollen fixiert bleibt */
  
  /* Transparenz */
  background-blend-mode: overlay; /* Setzt den Mischmodus */
  background-color: var(--mainbg); /* Füge eine halbtransparente weiße Farbe hinzu */

  background-color: var(--bg1); /* Background color for the body */
  color: var(--font); /* Font color for the body */
  font-family: 'Rust', Arial, sans-serif; /* Use 'Rust' font, then fallback to Arial and sans-serif */
}
h1, h2, h3, h4, h5, h6 {
  color: var(--h); /* Heading color for all heading elements */
}

.center {
  text-align: center; /* Center-align the content with class 'center' */
}

/* Styling for the calculator section */
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Add margin to the top of the calculator section */
}

/* Styling for the modules */
.modul {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  color: var(--font);
  background-color: var(--modulBg);
}

/* Styling for the results section */
.results {
  display: flex;
  margin-top: 20px; /* Add margin to the top of the result section */
}

/* Styling for individual result windows */
.result {
  flex: 1;
  
  background-color: rgba(91, 87, 86, 0.1); /* Transparent background */
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px; /* Add margin between the result windows */
}

/* Styling for individual result windows */
.result_center {
  background-color: rgba(91, 87, 86, 0.1); /* Transparenter Hintergrund */
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px; /* Abstand zwischen den Ergebnisfenstern hinzufügen */
  margin-bottom: 20px; /* Abstand zwischen den Ergebnisfenstern in vertikaler Richtung hinzufügen */
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal */
  display: flex;
  flex-direction: column; /* Elemente in einer Spalte anordnen */
  align-items: center; /* Zentriert den Inhalt horizontal */
}

/* Add more spacing between the result windows */
.results .result:not(:last-child) {
  margin-right: 20px;
}

/* Align images and numbers in the result div */
.result-item {
  display: flex;
  align-items: center; /* Vertically center items */
  margin-bottom: 10px; /* Add some margin between result items */
}

.result-item img {
  margin-right: 5000px; /* Add margin to the right side of the image */
  height: 24px; /* Adjust the height of the image as needed */
  width: 24px; /* Adjust the width of the image as needed */
  display: block; /* Ensure images are block elements to prevent alignment issues */
}

/* Set Arial font for numbers inside the result windows and make them bold */
.result-item span {
  font-family: Arial, sans-serif;
  font-weight: bold; /* Make the numbers bold */
  margin-right: 5px; /* Add margin to the right side of the text */
    margin-right: 5px; /* Add margin to the right side of the text */
}



/* Add margin to the Calculate button, "Enter a value" label, and input field */
.calculator button,
.calculator label,
.calculator input {
  margin-top: 10px;
}

/* Vertically center the text within the images */
.calculation-item {
  display: flex;
  align-items: center; /* Vertically center items */
}

/* Define code styles for the copy_code class */
.copy_code {
  font-family: "Courier New", monospace;
  font-size: 14px;
  color: #5C5857;
  text-align: center;
  padding: 5px;
  background-color: #231D1D;
  white-space: pre-wrap;
  flex: 29;
  padding: 1px;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 10px; /* Füge den Abstand nach oben hinzu */
  margin-bottom: 10px; /* Füge den Abstand nach unten hinzu */
}

/* Optional: Add a bit of margin to the copied text to separate it from other elements */
.copy_code::before,
.copy_code::after {
  content: "";
  display: block;
  height: 10px;
  display: flex;
  margin: 10px; /* Add margin on all sides of the result section */
}




h2 {
  margin-top: 25px; /* Add margin to the top of h2 */
  margin-bottom: 1px; /* Add margin to the bottom of h2 */
  color: var(--h); /* Heading color for h2 element */
}

#backToHomeButton {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: var(--h);
  color: var(--font);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 1; /* Ensure the button is always visible */
  font-family: 'Rust', Arial, sans-serif;
}


/* Global styles */
:root {
  --bg1: #0D0D0D; /* Background color 1 */
  --bg2: #272322; /* Background color 2 */
  --font: #A4A5A7; /* Font color */
  --modulBg: #5B5756; /* Modul background color */
  --h: #D93E30; /* Heading color */
}


/* Set the background color of all input fields */
input {
  background-color: var(--bg2);
  color: var(--font);
  border: 1px solid var(--bg2);
  padding: 8px;
  text-align: center; /* Zentriert den Text */
  font-size: 30px; /* Ändert die Schriftgröße nach Bedarf */
  width: 150px; /* Ändere die Breite nach Bedarf */
}
/* Change the color of the input value and cursor for better readability */
input::placeholder {
  color: var(--font);
}

/* Style all input fields when they are focused */
input:focus {
  border: 1px solid var(--h);
  outline: none;
}


.center-container {
    
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Ändere align-items auf flex-end */
  height: 2vh; /* Ändere die Höhe auf den gewünschten Wert */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg2);
  padding: 10px;
}

.counter-container {
  display: flex;
  align-items: center;
}

.counterapi {
  margin: 0 10px;
}

.khaki {
  color: khaki;
}

.blue {
  color: blue;
}

.red {
  color: red;
}
